@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 태그 디자인 */
/* 스크롤 움직임 부드럽게 */
html {scroll-behavior: smooth;}
body {font-family: 'Pretendard-Regular'; width: 100vw;}
a {color: black; text-decoration: none;}
h1 {font-size: 3rem; margin: 20px 0; font-weight: bold;}


/* 헤더와 내비게이션바 */
.header {
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    transition: all 1s;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    margin: 35px 20px;
    /* li 태그 안에 있는 모든 텍스트에 영향을 줌 */
    font-size: 1.2rem;
}

.nav-menu li >a {
    color: white;
    transition: all 1s;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 스크롤 이벤트가 발생했을 때 바뀌는 내비게이션 디자인 */
.nav.scrollon {
    color: black;
    background-color: white;
    transition: all 1s;
}

.nav.scrollon li >a {
    color: black;
    transition: all 1s;
}

/* 메인의 섹션 */
section {
    width: 100vw;
    height: 700px;
}

/*  섹션1 배너(슬라이더) */
.banner {
    width: 100vw;
    height: 100vh;
}

.scroll-icon {
    position: absolute;
    bottom: 80px;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%,0);
    animation-name: moving-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* scroll-icon이 위아래로 움직이는 애니메이션 작성 */
@keyframes moving-icon {
    0% {transform: translate(-50%, 0)}
    70% {transform: translate(-50%, 20px)}
    100% {transform: translate(-50%, 0)}
}

/* 섹션2 소개(스크롤이벤트) */
.intro-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url(../img/3.jpg);
    background-size: 100vw;
    opacity: 0;
    height: 70vh;
    overflow: hidden;
}

/* 이벤트로 클래스가 붙었을 때 디자인 */
.intro-scroll.scrollon {
    opacity: 1;
    transition: all 2s;
}

.intro-scroll .green-intro {
    width: 500px;
    height: 300px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(46, 46, 46, 0.5);
    transform: translateX(-400px);
    margin-left: 150px;
}

/* 이벤트 발생 시 추가되는 클래스 */
.intro-scroll.scrollon .green-intro {
    transform: translateX(0);
    transition: all 2.5s;
}

.intro-scroll .green-intro-image {
    width: 100vw;
    /* inherit : 부모의 높이를 가져옴 */
    height: inherit;
}

/* 섹션3 사진(슬라이더 버튼) */
.pictures {
    box-sizing: border-box;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px 0 50px 200px;
    height: 100vh;
    overflow: hidden;
}

.picture-wrap {
    padding-top: 100px;
}

.picture-explain {
    border-top: 3px solid black;
}

.picture-explain h1 {
    margin: 50px 0;
}

.picture-explain p {
    font-size: 1.3rem;
    color: gray;
}
.picture-buttons {
    display: flex;
    justify-content: space-around;
    margin: 50px 10px;
}

.picture-buttons a {
    font-size: 1.3rem;
    border-radius: 30px;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s;
}

.picture-buttons a:hover,
.picture-buttons a.on {
    background-color: rgb(143, 125, 104);
    color: white;
    transition: all 0.3s;
}

.pictures .slider2 {
    margin-left: 150px;
    overflow: hidden;
}

.pictures .slider-item2 {
    margin-left: 150px;
    margin-top: 100px;
    width: 700px;
    height: 700px;
    background-color: rgba(209, 199, 187, 0.5);
    overflow: hidden;
}

.pictures .slider-item2:first-child{
    margin-left: 0;
}

/* 섹션4 뉴스(스크롤이벤트) */
.news-scroll {
    height: 60vh;
    padding: 50px 0;
    opacity: 0;
    transform: translateY(150px);
}

.news-scroll.scrollon {
    opacity: 1;
    transform: translateY(0);
    transition: all 2s;
}

.news-scroll h1 {
    text-align: center;
    margin: 50px 0;
}

.news-cards {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.card{
    border-radius: 20px;
    width: 23%;
    box-shadow: 8px 8px 25px 5px rgba(165, 165, 165, 0.3);
    overflow: hidden;
}

.card .card-image-wrap {
    height: 200px;
    overflow: hidden;
}

.card .card-image-wrap .card-image {
    height: inherit;
    background-size: cover;
    transition: all 0.3s;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-image-wrap .card-image {
    transform: scale(1.1);
    transition: all 0.3s;
    filter: brightness(0.7);
}

.card:nth-child(1) .card-image-wrap .card-image {
    background-image: url(../img/1.jpg);
}

.card:nth-child(2) .card-image-wrap .card-image {
    background-image: url(../img/2.jpg);
}

.card:nth-child(3) .card-image-wrap .card-image {
    background-image: url(../img/3.jpg);
}

.card:nth-child(4) .card-image-wrap .card-image {
    background-image: url(../img/1.jpg);
}

.card .card-text {
    padding: 30px;
}

.card .card-text h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 30px 0;
    color: rgb(129, 85, 35);
}

.card .card-text span {
    color: gray;
    font-size: 0.9rem;
}

/* 푸터 */
.footer {
    box-sizing: border-box;
    height: 200px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    background-color: black;
    color: lightgray;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .logo {
    background-color: rgba(255, 255, 255, 0.3);
    width: 150px;
    height: 50px;
    text-align: center;
}

.footer .info {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 200px;
}